main > .container {
    padding: 0 15px 20px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover{
    border-bottom: solid 3px #fff;
}

.breadcrumb {
    height: 50px;
    display: flex;
    align-items: center;
}

.breadcrumb-item > a
{
    text-decoration: none;
}

.lev-bg{
    background-color: #42826C;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
    margin-right: 25px;
    transition: .8s ease;
    border-bottom: solid 3px transparent;
}

.ml-auto{
    margin-left: auto !important;
}

.site-error.md-top-20 {
    margin-top: 100px;
}

.cw{
    color: white;
}

/* carusel */
.carousel-indicators button{
    background-color: #42826C !important;
}

.my-carousel {
    padding: 120px 0 0;
}

.my-carousel .carousel-item{
    max-height: 500px;
}

.my-carousel .carousel-item img{
    object-fit: cover;
}

/* footer */
.footer .container{
    padding-top: 100px;
}

.footer > .container, .footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

.before-footer-ln{
    color:black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.social-icons {
    margin-left: -20px;
}

.footer-menu-block {
    margin: 50px 0;
}

.footer-menu {
    padding-top: 15px;
    padding-left: 30%;
}

.footer-menu .nav-item {
    margin-left: 20px;
}

.footer-brand{
    padding-left: 60px;
}
/* end footer*/